<div id="dialogImagePopUp" class="relative inline-block">
  <img [src]="imageToDisplay" alt="Screenshot" class="block w-full" />
  <div class="absolute inset-x-0 top-0 flex justify-between items-center p-2 bg-black bg-opacity-40">

    <div class="flex items-center gap-2 ">
      <div *ngIf="row?.autohealed">
        <span class="bg-blue-800 text-white text-xs p-1">
          Autohealed
        </span>
      </div>
      <div *ngIf="row?.assertion !== false" class="relative group">
        <mat-icon class="text-[25px]"
          [ngClass]="{'text-[#048c04]': row.assertionStatus, 'text-[#e53e3e]': !row.assertionStatus}">
          flag
        </mat-icon>
        <span
          class="invisible group-hover:visible absolute bottom-[-28px] left-0 text-xs bg-gray-700 text-white rounded p-1">
          {{ row.assertionStatus ? 'Assertion Passed' : 'Assertion Failed' }}
        </span>
      </div>
    </div>

    <button (click)="closeDialog()" class="p-2">
      <mat-icon class="text-[30px] text-white">close</mat-icon>
    </button>
  </div>
</div>