.standaloneHeight {
    height: calc(100vh - 100px);
}

.tabHeight {
    height: calc(100vh - 220px);
}

.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.locatorPageHeight {
    height: calc(100vh - 220px);
}

.codeGeneratorWithTextHeight {
    height: calc(100vh - 120px);
}